sql {{ .Name }} {
    driver = "rlm_sql_{{ .SQL.Dialect }}"
    dialect = "{{ .SQL.Dialect }}"
    server = "{{ .SQL.Server }}"
    port = {{ .SQL.Port }}
    database = "{{ .SQL.Database }}"
    login = "{{ .SQL.Login }}"
    password = "{{ secretFilePath .SQL.PasswordRef }}"
}
